En este notebook vemos como usar los `objetos/modelos` que produce la clase autoscorecard y como hacer predicciones con ellos en dos competiciones de Kaggle 游땙

<span style='color:blue'>Importamos los m칩dulos

In [1]:
import numpy as np, pandas as pd, pyken as pyk

<h3><span style='color:blue'>Titanic

In [2]:
df_train = pd.read_csv('train titanic.csv')
L = list(pyk.proc_freq(df_train, 'Survived').frequency)
print('Sobrevivieron {}. Muerieron {} (entre ellos Leonardo DiCaprio)'.format(L[1], L[0]))

Sobrevivieron 342. Muerieron 549 (entre ellos Leonardo DiCaprio)

In [3]:
df_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
X, y = df_train.drop('Survived', axis=1), df_train.Survived.values

<span style='color:blue'>Sacamos una primera scorecard excluyendo las variables nominativas `PassengerId` y `Name`

In [5]:
modelo_titanic1 = pyk.autoscorecard(excluded_vars=['PassengerId', 'Name']).fit(X, y)

Particionado 70-30 estratificado en el target terminado.
------------------------------------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas: ['Cabin', 'Embarked']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (12) superior al n칰mero de variables candidatas (7)
------------------------------------------------------------------------------------------------------------------------------------------------------
Step 01 | Time - 0:00:00.265448 | p-value = 8.60e-39 | Gini train = 55.81% | Gini test = 47.71% ---> Feature selected: Sex
Step 02 | Time - 0:00:00.228055 | p-value = 8.17e-18 | Gini train = 97.35% | Gini test = 45.15% ---> Feature selected: Ticket
Step 03 | Time - 0:00:00.262738 | p-value = 4.91e-03 | Gini train = 98.09% | Gini test = 43.45% ---> Feature selected: SibSp
------------------------------------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso.
------------------------------------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['Sex', 'Ticket', 'SibSp']
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 93.17% de KS y un 98.09% de Gini en la muestra de desarrollo
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 47.10% de KS y un 43.45% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Uf, menudo batacazo del train al test... Esto es un claro ejemplo de *sobreajuste*. Miramos a ver si alguna de las 4 variables tiene un IV muy alto y/o es demasiado granular...

In [6]:
modelo_titanic1.tabla_ivs.head(3)

  variable        iv
2   Ticket  7.014385
3      Sex  1.479819
1     Fare  0.704009

<span style='color:blue'>`Ticket` es muy sospechosa (make sense, el billete es una variable categ칩rica demasiado identificativa) adem치s que se ve chunga en el log de la selecci칩n

In [7]:
print('Valores distintos variable Ticket: {}'.format(len(X['Ticket'].value_counts())))

Valores distintos variable Ticket: 681

<span style='color:blue'>Sacamos otro modelo ahora sin `Ticket`

In [8]:
modelo_titanic2 = pyk.autoscorecard(excluded_vars=['PassengerId', 'Name', 'Ticket']).fit(X, y)

Particionado 70-30 estratificado en el target terminado.
------------------------------------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas: ['Cabin', 'Embarked']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (12) superior al n칰mero de variables candidatas (6)
------------------------------------------------------------------------------------------------------------------------------------------------------
Step 01 | Time - 0:00:00.186198 | p-value = 8.60e-39 | Gini train = 55.81% | Gini test = 47.71% ---> Feature selected: Sex
Step 02 | Time - 0:00:00.181629 | p-value = 1.08e-11 | Gini train = 67.27% | Gini test = 64.78% ---> Feature selected: Pclass
Step 03 | Time - 0:00:00.235777 | p-value = 5.87e-06 | Gini train = 71.36% | Gini test = 65.31% ---> Feature selected: Age
------------------------------------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso.
------------------------------------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['Sex', 'Pclass', 'Age']
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 61.55% de KS y un 71.36% de Gini en la muestra de desarrollo
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 55.98% de KS y un 65.31% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Ya no tenemos tanto desplome, sin embargo sigue existiendo una buena diferencia: una caida del 18.44% de Gini de train a test (no en puntos porcentuales)

In [9]:
print('Caida de Gini de train a test: {:.2f}%'.format(100*(modelo_titanic2.gini_train - modelo_titanic2.gini_test) / modelo_titanic2.gini_train))

Caida de Gini de train a test: 8.49%

<span style='color:blue'>De hecho, podemos ver que en test tenemos mejores Ginis en pasos antes de la inclusi칩n de `Cabin`... De hecho, `Cabin` es muy granular y parecer provocar algo de overfitting

In [10]:
print('Valores distintos variable Cabin: {}'.format(len(X['Cabin'].value_counts())))

Valores distintos variable Cabin: 147

<span style='color:blue'>Sacamos un tercer modelo escluyendo tambi칠n a `Cabin`

In [11]:
modelo_titanic3 = pyk.autoscorecard(excluded_vars=['PassengerId', 'Name', 'Ticket', 'Cabin']).fit(X, y)

Particionado 70-30 estratificado en el target terminado.
------------------------------------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas: ['Embarked']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (12) superior al n칰mero de variables candidatas (6)
------------------------------------------------------------------------------------------------------------------------------------------------------
Step 01 | Time - 0:00:00.201968 | p-value = 8.60e-39 | Gini train = 55.81% | Gini test = 47.71% ---> Feature selected: Sex
Step 02 | Time - 0:00:00.202364 | p-value = 1.08e-11 | Gini train = 67.27% | Gini test = 64.78% ---> Feature selected: Pclass
Step 03 | Time - 0:00:00.216995 | p-value = 5.87e-06 | Gini train = 71.36% | Gini test = 65.31% ---> Feature selected: Age
------------------------------------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso.
------------------------------------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['Sex', 'Pclass', 'Age']
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 61.55% de KS y un 71.36% de Gini en la muestra de desarrollo
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 55.98% de KS y un 65.31% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Nos queda un modelo solo con 3 variables?! Bueno y qu칠 pasa, `#minimalismo` 游땖. Pintamos la scorecard

In [12]:
pyk.pretty_scorecard(modelo_titanic3, color1='green')

<span style='color:blue'>Vamos a usar estos modelos para hacer `predicciones` y subir las `submissions` resultantes a Kaggle, una por cada uno de los modelos que hemos fabricado

In [13]:
df_test = pd.read_csv('test titanic.csv')

In [14]:
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

<span style='color:blue'>El m칠todo `.transform()` es el responsable de aplicar el modelo a un nuevo datafrapyk. La variable que contiene la puntuaci칩n final es `scorecardpoints`. Esta puntuaci칩n est치 *calibrada* con PEO (points equal odds, donde la tasa de malos es 0.5) en 500 puntos y un PDO (points to double odds) de 20 puntos. Tambi칠n se genera, para cada variable del modelo final, una columna con la puntuaci칩n parcial que aporta dicha variable (las columnas `scr_`) y por 칰ltimo en la columna `prediction` va una predicci칩n binaria para cada fila del dataframe

In [15]:
modelo_titanic1.transform(df_test, id_columns=['PassengerId'])

,PassengerId,Sex,Ticket,SibSp,scr_Sex,scr_Ticket,scr_SibSp,scorecardpoints,prediction
0,892,male,330911,0,209,77,161,447.0,1
1,893,female,363272,1,110,77,200,387.0,1
2,894,male,240276,0,209,77,161,447.0,1
3,895,male,315154,0,209,77,161,447.0,1
4,896,female,3101298,1,110,77,200,387.0,1
...,...,...,...,...,...,...,...,...,...
413,1305,male,A.5. 3236,0,209,77,161,447.0,1
414,1306,female,PC 17758,0,110,326,161,597.0,0
415,1307,male,SOTON/O.Q. 3101262,0,209,77,161,447.0,1
416,1308,male,359309,0,209,77,161,447.0,1
417,1309,male,2668,1,209,77,200,486.0,1

<span style='color:blue'>Generamos las submissions como archivos .csv para subirlas a Kaggle

In [16]:
prediction1 = modelo_titanic1.transform(df_test, id_columns=['PassengerId']).rename(columns={'prediction': 'Survived'})\
[['PassengerId', 'Survived']].to_csv('submission_titanic1.csv', index=False)

prediction2 = modelo_titanic2.transform(df_test, id_columns=['PassengerId']).rename(columns={'prediction': 'Survived'})\
[['PassengerId', 'Survived']].to_csv('submission_titanic2.csv', index=False)

prediction3 = modelo_titanic3.transform(df_test, id_columns=['PassengerId']).rename(columns={'prediction': 'Survived'})\
[['PassengerId', 'Survived']].to_csv('submission_titanic3.csv', index=False)

<h3><span style='color:blue'>Spaceship titanic

In [17]:
df_train = pd.read_csv('train dimension.csv')
L = list(pyk.proc_freq(df_train, 'Transported').frequency)
print('Trasportados: {}. No trasportados: {}'.format(L[1], L[0]))

Trasportados: 4378. No trasportados: 4315

In [18]:
df_train.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

<span style='color:blue'>Ponemos el target como 0 o 1

In [19]:
df_train['Transported'] = np.where(df_train['Transported'] == True, 1, 0)

In [20]:
X, y = df_train.drop('Transported', axis=1), df_train.Transported.values

<span style='color:blue'>Probamos un primer modelo excluyendo `PassengerId` y `Name`

In [21]:
modelo_spaceship1 = pyk.autoscorecard(excluded_vars=['PassengerId', 'Name']).fit(X, y)

Particionado 70-30 estratificado en el target terminado.
------------------------------------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas: ['HomePlanet', 'Destination', 'Cabin', 'CryoSleep', 'VIP']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado! Estas variables son booleanas, para usarlas transf칩rmalas a string antes: ['CryoSleep', 'VIP']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (12) superior al n칰mero de variables candidatas (6)
------------------------------------------------------------------------------------------------------------------------------------------------------
Step 01 | Time - 0:00:00.437228 | p-value = 5.43e-159 | Gini train = 36.75% | Gini test = 35.26% ---> Feature selected: RoomService
Step 02 | Time - 0:00:00.526521 | p-value = 1.29e-118 | Gini train = 53.76% | Gini test = 53.85% ---> Feature selected: Spa
Step 03 | Time - 0:00:00.589365 | p-value = 3.57e-57 | Gini train = 58.55% | Gini test = 59.19% ---> Feature selected: VRDeck
Step 04 | Time - 0:00:00.503976 | p-value = 1.01e-16 | Gini train = 59.30% | Gini test = 59.09% ---> Feature selected: FoodCourt
Step 05 | Time - 0:00:00.520524 | p-value = 9.10e-09 | Gini train = 59.80% | Gini test = 59.76% ---> Feature selected: ShoppingMall
Step 06 | Time - 0:00:00.505356 | p-value = 1.85e-04 | Gini train = 60.62% | Gini test = 61.10% ---> Feature selected: Age
------------------------------------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['RoomService', 'Spa', 'VRDeck', 'FoodCourt', 'ShoppingMall', 'Age']
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 50.76% de KS y un 60.62% de Gini en la muestra de desarrollo
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 52.18% de KS y un 61.10% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'> Si te fijas el log nos avisa de que las variable `VIP` y `CryoSleep` son booleanas y nos recomienda pasarlas a string para que se puedan usar (Pyken no soporta variables booleanas)

In [22]:
X['CryoSleep'] = X['CryoSleep'].astype('str')
X['VIP'] = X['VIP'].astype('str')

In [23]:
modelo_spaceship2 = pyk.autoscorecard(excluded_vars=['PassengerId', 'Name']).fit(X, y)

Particionado 70-30 estratificado en el target terminado.
------------------------------------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas: ['HomePlanet', 'Destination', 'Cabin', 'VIP']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (12) superior al n칰mero de variables candidatas (7)
------------------------------------------------------------------------------------------------------------------------------------------------------
Step 01 | Time - 0:00:00.500462 | p-value = 6.71e-242 | Gini train = 43.60% | Gini test = 44.52% ---> Feature selected: CryoSleep
Step 02 | Time - 0:00:00.653448 | p-value = 3.93e-43 | Gini train = 53.24% | Gini test = 53.21% ---> Feature selected: RoomService
Step 03 | Time - 0:00:00.641999 | p-value = 6.10e-45 | Gini train = 58.52% | Gini test = 59.29% ---> Feature selected: Spa
Step 04 | Time - 0:00:00.626071 | p-value = 6.75e-28 | Gini train = 60.52% | Gini test = 61.55% ---> Feature selected: VRDeck
Step 05 | Time - 0:00:00.636918 | p-value = 1.23e-09 | Gini train = 61.08% | Gini test = 61.45% ---> Feature selected: FoodCourt
Step 06 | Time - 0:00:00.615621 | p-value = 2.16e-05 | Gini train = 61.47% | Gini test = 61.87% ---> Feature selected: ShoppingMall
------------------------------------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso.
------------------------------------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['CryoSleep', 'RoomService', 'Spa', 'VRDeck', 'FoodCourt', 'ShoppingMall']
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 51.07% de KS y un 61.47% de Gini en la muestra de desarrollo
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 51.67% de KS y un 61.87% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>La variable `VIP` siguen sin agruparse porque excluyendo a los missings solo tiene dos categorias y una de ellas tiene poco m치s de un 2% de poblaci칩n

In [24]:
pyk.proc_freq(df_train, 'VIP')

       frequency   percent
VIP
False       8291  0.953756
True         199  0.022892
NaN          203  0.023352

<span style='color:blue'>Al igual que antes, tenemos un tremendo desplome del train al test... Miramos a ver si alguna de las variables tiene un IV muy alto y es demasiado granular

In [25]:
modelo_spaceship2.tabla_ivs.head(3)

      variable        iv
3    CryoSleep  0.955003
5  RoomService  0.633759
6          Spa  0.626870

<span style='color:blue'>`Cabin` es s칰per sospechosa (debe haber casi una cabina por individuo!)

In [26]:
print('Valores distintos variable Cabin: {}'.format(len(X['Cabin'].value_counts())))

Valores distintos variable Cabin: 6560

In [27]:
modelo_spaceship3 = pyk.autoscorecard(excluded_vars=['PassengerId', 'Name', 'Cabin']).fit(X, y)

Particionado 70-30 estratificado en el target terminado.
------------------------------------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. M치ximo n칰mero de buckets = 5. M칤nimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas: ['HomePlanet', 'Destination', 'VIP']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero m치ximo de iteraciones (12) superior al n칰mero de variables candidatas (7)
------------------------------------------------------------------------------------------------------------------------------------------------------
Step 01 | Time - 0:00:00.499105 | p-value = 6.71e-242 | Gini train = 43.60% | Gini test = 44.52% ---> Feature selected: CryoSleep
Step 02 | Time - 0:00:00.579593 | p-value = 3.93e-43 | Gini train = 53.24% | Gini test = 53.21% ---> Feature selected: RoomService
Step 03 | Time - 0:00:00.656624 | p-value = 6.10e-45 | Gini train = 58.52% | Gini test = 59.29% ---> Feature selected: Spa
Step 04 | Time - 0:00:00.643534 | p-value = 6.75e-28 | Gini train = 60.52% | Gini test = 61.55% ---> Feature selected: VRDeck
Step 05 | Time - 0:00:00.655771 | p-value = 1.23e-09 | Gini train = 61.08% | Gini test = 61.45% ---> Feature selected: FoodCourt
Step 06 | Time - 0:00:00.604517 | p-value = 2.16e-05 | Gini train = 61.47% | Gini test = 61.87% ---> Feature selected: ShoppingMall
------------------------------------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso.
------------------------------------------------------------------------------------------------------------------------------------------------------
Selecci칩n terminada: ['CryoSleep', 'RoomService', 'Spa', 'VRDeck', 'FoodCourt', 'ShoppingMall']
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 51.07% de KS y un 61.47% de Gini en la muestra de desarrollo
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 51.67% de KS y un 61.87% de Gini en la muestra de validaci칩n
------------------------------------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Hacemos las predicciones y subimos a Kaggle! 游

In [28]:
df_test = pd.read_csv('test dimension.csv')
df_test['CryoSleep'] = df_test['CryoSleep'].astype('str')
df_test['VIP'] = df_test['VIP'].astype(str)

In [29]:
prediction1 = modelo_spaceship1.transform(df_test, id_columns=['PassengerId'])\
.rename(columns={'prediction': 'Transported'})[['PassengerId', 'Transported']]
prediction1['Transported'] = np.where(prediction1['Transported'] == 1, True, False)
prediction1.to_csv('submission_spaceship1.csv', index=False)

prediction2 = modelo_spaceship2.transform(df_test, id_columns=['PassengerId'])\
.rename(columns={'prediction': 'Transported'})[['PassengerId', 'Transported']]
prediction2['Transported'] = np.where(prediction2['Transported'] == 1, True, False)
prediction2.to_csv('submission_spaceship2.csv', index=False)

prediction3 = modelo_spaceship3.transform(df_test, id_columns=['PassengerId'])\
.rename(columns={'prediction': 'Transported'})[['PassengerId', 'Transported']]
prediction3['Transported'] = np.where(prediction3['Transported'] == 1, True, False)
prediction3.to_csv('submission_spaceship3.csv', index=False)

# prediction4 = modelo_spaceship4.transform(df_test, id_columns=['PassengerId'])\
# .rename(columns={'prediction': 'Transported'})[['PassengerId', 'Transported']]
# prediction4['Transported'] = np.where(prediction4['Transported'] == 1, True, False)
# prediction4.to_csv('submission_spaceship4.csv', index=False)

<span style='color:blue'>Como se puede ver a continuaci칩n los modelos 3 y 4 nos dan la misma puntuaci칩n en Kaggle. Personalmente, yo prefiero el modelo 4 por ser m치s simple: si con un n칰mero menor de variables obtengo los mismos resultados entonces mejor, pues a mayor n칰mero de variables mayor probabilidad de que alguna se desajuste en el futuro

<span style='color:blue'>Pintamos la scorecard del modelo que m치s puntuaci칩n nos ha dado en Kaggle: el

In [30]:
pyk.pretty_scorecard(modelo_spaceship3, color1='yellow')