En este notebook vemos como desarrollar un modelo usando el `parceling` como método para la inferencia de denegados

<span style='color:blue'>Importamos los módulos

In [1]:
import numpy as np, pandas as pd, pyken as pyk

<span style='color:blue'>Cargamos el dataset

In [2]:
df = pd.read_csv('hmeq.csv')
print('El dataset tiene {} filas y {} columnas (incluyendo el target)'.format(df.shape[0], df.shape[1]))

El dataset tiene 5960 filas y 13 columnas (incluyendo el target)

<span style='color:blue'>Ponemos el nombre de las columnas en minúsculas, renombramos el target como `target_original` y añadimos una columna de tipo id

In [3]:
df.columns = ['target_original'] + [col.lower() for col in list(df.columns[1:])]
df.insert(0, 'id', [str(i).zfill(4) for i in range(1, len(df)+1)])
df.head()

,id,target_original,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc
0,0001,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN
1,0002,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN
2,0003,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN
3,0004,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,0005,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN

<span style='color:blue'>Generamos los denegados aleatoriamente (esto no debería ser así porque en general los denegados tienen un peor pérfil... pero es un ejemplo) marcamos como denegados al 25%

In [4]:
mask_rejected = np.array([True]*round(len(df)*0.75)+[False]*(len(df)-round(len(df)*0.75)))
np.random.seed(123) # Importante fijar semilla para que sea replicable
np.random.shuffle(mask_rejected)
df['decision'] = np.where(mask_rejected, 'aprobado', 'rechazado')
df['target'] = np.where(mask_rejected, df['target_original'], -3)
df.head()

,id,target_original,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc,decision,target
0,0001,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN,aprobado,1
1,0002,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN,aprobado,1
2,0003,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN,aprobado,1
3,0004,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aprobado,1
4,0005,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN,rechazado,-3

<span style='color:blue'>Vemos la distribución de denegados, buenos y malos que tenemos

In [5]:
pyk.proc_freq(df, 'target').to_dict()['frequency']

{-3: 1490, 0: 3567, 1: 903}

<span style='color:blue'>Lo primero es sacar una scorecard *solo con aceptados*

In [6]:
df_aceptados = df[df.decision == 'aprobado']
pyk.proc_freq(df_aceptados, 'target').to_dict()['frequency']

{0: 3567, 1: 903}

In [7]:
X, y = df_aceptados.drop('target', axis=1), df_aceptados.target.values

<span style='color:blue'>Excluimos las variables que no se pueden usar para el desarollo y la `debtinc` por ser demasiado discriminante

In [8]:
modelo_aceptados = pyk.autoscorecard(excluded_vars=['id', 'target_original', 'decision', 'debtinc']).fit(X, y)

Particionado 70-30 estratificado en el target terminado.
------------------------------------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. Máximo número de buckets = 5. Mínimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas: ['reason', 'job']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero máximo de iteraciones (12) superior al número de variables candidatas (9)
------------------------------------------------------------------------------------------------------------------------------------------------------
Step 01 | Time - 0:00:00.363279 | p-value = 8.86e-68 | Gini train = 33.58% | Gini test = 32.99% ---> Feature selected: delinq
Step 02 | Time - 0:00:00.449691 | p-value = 7.62e-34 | Gini train = 51.49% | Gini test = 45.58% ---> Feature selected: clage
Step 03 | Time - 0:00:00.441126 | p-value = 1.18e-29 | Gini train = 56.77% | Gini test = 49.32% ---> Feature selected: derog
Step 04 | Time - 0:00:00.461900 | p-value = 5.19e-27 | Gini train = 63.33% | Gini test = 54.21% ---> Feature selected: value
Step 05 | Time - 0:00:00.468091 | p-value = 1.53e-18 | Gini train = 66.02% | Gini test = 56.16% ---> Feature selected: loan
Step 06 | Time - 0:00:00.427886 | p-value = 4.84e-14 | Gini train = 68.26% | Gini test = 56.73% ---> Feature selected: ninq
Step 07 | Time - 0:00:00.561512 | p-value = 2.40e-10 | Gini train = 69.75% | Gini test = 59.73% ---> Feature selected: yoj
Step 08 | Time - 0:00:00.537812 | p-value = 9.10e-07 | Gini train = 70.80% | Gini test = 60.95% ---> Feature selected: clno
Step 09 | Time - 0:00:00.448661 | p-value = 2.83e-03 | Gini train = 71.20% | Gini test = 60.86% ---> Feature selected: mortdue
------------------------------------------------------------------------------------------------------------------------------------------------------
Selección terminada: ['delinq', 'clage', 'derog', 'value', 'loan', 'ninq', 'yoj', 'clno', 'mortdue']
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 56.33% de KS y un 71.20% de Gini en la muestra de desarrollo
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 47.30% de KS y un 60.86% de Gini en la muestra de validación
------------------------------------------------------------------------------------------------------------------------------------------------------

<span style='color:blue'>Con esta scorecard de aceptados vamos a *inferir* cual hubiera sido el target de los denegados

In [9]:
prediction = modelo_aceptados.transform(df, id_columns=['id'])[['id', 'scorecardpoints']]
df2 = df.merge(prediction.rename(columns={'scorecardpoints': 'scorecardpoints_acep'}), how='left', on='id')
df2.head()

,id,target_original,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc,decision,target,scorecardpoints_acep
0,0001,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN,aprobado,1,470.0
1,0002,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN,aprobado,1,493.0
2,0003,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN,aprobado,1,496.0
3,0004,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aprobado,1,440.0
4,0005,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN,rechazado,-3,522.0

<span style='color:blue'>Aplicamos el *parceling*. Más información en: https://blogs.sas.com/content/sasla/2020/11/12/sommelier-de-riesgo-entrega-8-riesgo-de-credito-tecnicas-de-inferencia-de-denegados/

In [10]:
df3, c = pyk.parceling(df2, randomly=False)
df3.head()

Breakpoints: [310.0, 332.07, 354.13, 376.2, 398.27, 420.33, 442.4, 464.47, 486.53, 508.6, 530.67, 552.73, 574.8, 596.87, 618.93]

,id,target_original,loan,mortdue,value,reason,job,yoj,derog,delinq,clage,ninq,clno,debtinc,decision,target,scorecardpoints_acep,parcel,target_inf,target_def
0,0001,1,1100,25860.0,39025.0,HomeImp,Other,10.5,0.0,0.0,94.366667,1.0,9.0,NaN,aprobado,1,470.0,8,NaN,1.0
1,0002,1,1300,70053.0,68400.0,HomeImp,Other,7.0,0.0,2.0,121.833333,0.0,14.0,NaN,aprobado,1,493.0,9,NaN,1.0
2,0003,1,1500,13500.0,16700.0,HomeImp,Other,4.0,0.0,0.0,149.466667,1.0,10.0,NaN,aprobado,1,496.0,9,NaN,1.0
3,0004,1,1500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,aprobado,1,440.0,6,NaN,1.0
4,0005,0,1700,97800.0,112000.0,HomeImp,Office,3.0,0.0,0.0,93.333333,0.0,14.0,NaN,rechazado,-3,522.0,10,0.0,0.0

<span style='color:blue'>Ahora que ya tenemos a los denegados con un target inferido desarrollamos otra scorecard con una nueva partición 70-30 (usando todos, aceptados + denegados)

In [11]:
X_def, y_def = df3[X.columns], df3.target_def

In [12]:
modelo_todos = pyk.autoscorecard(excluded_vars=['id', 'target_original', 'decision', 'debtinc'], save_whole_tables=True).fit(X_def, y_def)

Particionado 70-30 estratificado en el target terminado.
------------------------------------------------------------------------------------------------------------------------------------------------------
Autogrouping terminado. Máximo número de buckets = 5. Mínimo porcentaje por bucket = 0.05
------------------------------------------------------------------------------------------------------------------------------------------------------
Variables no agrupadas: ['reason', 'job']
------------------------------------------------------------------------------------------------------------------------------------------------------
Cuidado, has puesto un valor numero máximo de iteraciones (12) superior al número de variables candidatas (9)
------------------------------------------------------------------------------------------------------------------------------------------------------
Step 01 | Time - 0:00:00.490329 | p-value = 7.92e-91 | Gini train = 34.75% | Gini test = 32.90% ---> Feature selected: delinq
Step 02 | Time - 0:00:00.632102 | p-value = 7.45e-48 | Gini train = 52.12% | Gini test = 51.61% ---> Feature selected: clage
Step 03 | Time - 0:00:00.686805 | p-value = 1.96e-36 | Gini train = 58.30% | Gini test = 59.75% ---> Feature selected: value
Step 04 | Time - 0:00:00.693111 | p-value = 9.91e-28 | Gini train = 60.76% | Gini test = 64.64% ---> Feature selected: derog
Step 05 | Time - 0:00:00.704654 | p-value = 2.62e-22 | Gini train = 63.60% | Gini test = 65.42% ---> Feature selected: loan
Step 06 | Time - 0:00:00.693498 | p-value = 3.23e-15 | Gini train = 64.84% | Gini test = 66.83% ---> Feature selected: ninq
Step 07 | Time - 0:00:00.650359 | p-value = 6.69e-12 | Gini train = 66.78% | Gini test = 68.22% ---> Feature selected: yoj
Step 08 | Time - 0:00:00.592246 | p-value = 1.20e-09 | Gini train = 67.97% | Gini test = 69.48% ---> Feature selected: clno
------------------------------------------------------------------------------------------------------------------------------------------------------
Ya ninguna variable tiene un p-valor < 0.01, detenemos el proceso.
------------------------------------------------------------------------------------------------------------------------------------------------------
Selección terminada: ['delinq', 'clage', 'value', 'derog', 'loan', 'ninq', 'yoj', 'clno']
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 53.46% de KS y un 67.97% de Gini en la muestra de desarrollo
------------------------------------------------------------------------------------------------------------------------------------------------------
El modelo tiene un 56.19% de KS y un 69.48% de Gini en la muestra de validación
------------------------------------------------------------------------------------------------------------------------------------------------------

In [13]:
modelo_def = modelo_todos

<span style='color:blue'>Evaluamos el modelo también solo sobre los aceptados (en el 70-30 del último modelo)

In [14]:
data_train = modelo_def.X_train.copy()
data_train['target'] = modelo_def.y_train
data_train_oa = data_train[data_train.decision == 'aprobado'].reset_index(drop=True)
data_train_final_oa, ks_train_oa, gini_train_oa = modelo_def.transform(data_train_oa, target_name='target', metrics=['ks', 'gini'])

El modelo tiene un 50.11% de KS y un 64.69% de Gini en esta muestra

In [15]:
data_test = modelo_def.X_test.copy()
data_test['target'] = modelo_def.y_test
data_test_oa = data_test[data_test.decision == 'aprobado'].reset_index(drop=True)
data_test_final_oa, ks_test_oa, gini_test_oa = modelo_def.transform(data_test_oa, target_name='target', metrics=['ks', 'gini'])

El modelo tiene un 56.75% de KS y un 69.13% de Gini en esta muestra

<span style='color:blue'>Pintamos la scorecard final

In [16]:
pyk.pretty_scorecard(modelo_def)